@charset "UTF-8";

@font-face{
      font-family: "youaregone";
      src: url(../ttf/youre_gone.ttf);
}

/* ESTILOS COMUNES */
* {
      font-family: arial;
      font-size: 11px;
}

h1{
      font-family: "youaregone";
      font-size: 20pt;
      color: brown;
      background-color: orange;
      padding-left: 30px;
      letter-spacing: 4px;
}

/* QUIENES SOMOS */
article>p {
      margin-bottom: 10px;
}

/*Tabla*/
article>table#tquienes{
      border: 1px solid black;
      margin-bottom: 20px;
      width: 90%;
      margin: 0px auto;
}
article>table#tquienes th{
      border: 1px solid black;
      background-color: blue;
      color: white;
}
article>table#tquienes td{
      border: 1px solid black;
}

article>table#tquienes tr:nth-child(2){
      font-weight: bold;
      color: blue;
      background-color: lightblue;
}

article>table#tquienes td:first-child{
      font-weight: bold;
}

/* PLATO DE LA SEMANA */
h2 { font-family: verdana;
      color: darkblue; 
      margin-bottom: 1.5ex; }  /* ex: altura de la letra x */

article strong, article em  { color: blue;}

/*listas*/
article>ol { margin-left: 5em; }  /* em: amplaria de la letra m */
article>ol>ul { margin-left: 3em; }

/* TU RECETA */
article>table#treceta{      margin: 2ex 0em 0ex 3em; }

article>table#treceta td:first-child { padding-right: 5em; }

article>table#treceta  textarea { width: 30em; height: 8ex;}

input[type="submit"], input[type="reset"] { margin: 2em; padding: 1ex 2em; }