@import url('https://fonts.googleapis.com/css?family=Bubbler+One');
.error { color: red;
         font-family: arial;
         font-size: 10pt;
         fontstyle:italic;
}
body{
    background-color:#f4d39b;
    background-image: url(../img/coupon-1828620_640.png);
    background-attachment: fixed;
    background-size: 10% 25%;
    background-repeat:repeat;
    margin: 0;
}



h1{
    font-size: 32pt;
}
#wrapper {
	width:800px;
	margin:auto;
	background-color:#FFFFFF;
}
#header {
	height:80px;
  background: linear-gradient(#e99311, #e0b469);
	background-repeat:no-repeat;
	height:120px;
}
.divheader{
  display: inline-block;
}
#headerh1 {
  position: absolute;
  margin: 0;
  margin-left: 5%;
  margin-top: 1%;
  padding: 0;
  font-family: 'Bubbler One', sans-serif;
  width: 55%;
  font-size: 5em;
}
#menu {
	background-image:url(../img/menu.png);
	height:25px;
	padding-top:5px;
	text-align:center;
}
#menu a, #footer a{
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
}
#menu a:hover, #footer a:hover{
	text-decoration:underline;
}
#contenido {
	padding:20px;
}
#footer {
	background-image:url(../img/menu.png);
	height:25px;
	padding-top:5px;
	text-align:center;
}
.Button_green {
	background-color:green;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid green;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_green:hover {
	background-color:greenyellow;
}
.Button_green:active {
	position:relative;
	top:1px;
}
.Button_blue {
	background-color:blue;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid blue;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_blue:hover {
	background-color:cyan;
}
.Button_blue:active {
	position:relative;
	top:1px;
}
.Button_red {
	background-color:crimson;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid crimson;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_red:hover {
	background-color:red;
}
.Button_red:active {
	position:relative;
	top:1px;
}
/*///////////////////////////*/
th{
  padding: 10px 10px;
  background: #00adee;
  font-size: 15px;
  text-transform: uppercase;
  vertical-align: top;
  color: #1D4A5A;
  font-weight: normal;
  text-align: left;
}
td{
  padding: 10px;
  background: #f2f2f2;
  font-size: 14px;
}
table{
  width: 100%;
}
.add{
  float: right;
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 13px;
  padding: 0;
  padding: 3px 5px;
  cursor: pointer;
  text-decoration: none;
}
.add:hover{
  background: #ffffff;
  color: #00adee;
  text-decoration: none;
}
.removeall{
  float: right;
  background: #EC5840;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 13px;
  padding: 0;
  padding: 3px 5px;
  cursor: pointer;
  text-decoration: none;
}
.removeall:hover{
  background: #ff0000;
  color: #ffffff;
  text-decoration: none;
}
/*Formulario */
ol,ul {
  	list-style:none;
  	margin:0px;
  	padding:0px;
  }
  blockquote,q {
  	quotes:none;
  }
  blockquote:before,blockquote:after,q:before,q:after {
  	content:'';
  	content:none;
  }
  table {
  	border-collapse:collapse;
  	border-spacing:0;
  }

  /* start editing from here */
  a {
  	text-decoration:none;
  }
  .txt-rt {
  	text-align:right;
  }/* text align right */
  .txt-lt {
  	text-align:left;
  }/* text align left */
  .txt-center {
  	text-align:center;
  /*-- W3Layouts --*/
  }/* text align center */
  .float-rt {
  	float:right;
  }/* float right */
  .float-lt {
  	float:left;
  }/* float left */
  .clear {
  	clear:both;
  }/* clear float */
  .pos-relative {
  	position:relative;
  }/* Position Relative */
  .pos-absolute {
  	position:absolute;
  }/* Position Absolute */
  .vertical-base {
  	vertical-align:baseline;
  }/* vertical align baseline */
  .vertical-top {
  	vertical-align:top;
  }/* vertical align top */
  nav.vertical ul li {
  	display:block;
  }/* vertical menu */
  nav.horizontal ul li {
  	display: inline-block;
  }/* horizontal menu */
  img {
  	max-width:100%;
  }

  h1.header-agileits {
      text-align: center;
      font-size: 50px;
      font-weight: normal;
      padding-top: 35px;
      text-transform: uppercase;
      color: #fff;
      letter-spacing: 8px;
  }
  p.header-agileits {
  	font-size: 17px;
      font-weight: normal;
      line-height: 35px;
      margin-bottom: 45px;
      color: #dcdcdc;
      text-align: center;
  }
  .content-w3ls {
      width: 85 %;
      background-color: rgba(3, 9, 12, 0.36);
      padding: 55px 50px;
  }
  .form-control {
      padding-bottom: 35px;
  }
  .form-control:nth-child(9) {
  	padding-bottom:0;
  	padding-top: 16px;
  }
  span {
      color: red;
  }
  label.header {
      font-size: 20px;
      width: 300px;
      font-weight: 500;
      color: #fff;
      text-align: justify;
      letter-spacing: 2px;
      text-transform: capitalize;
      display: inline-block;
      margin-bottom: 10px;

  	float: left;
      width: 40%;
  }
  input#imdbID,input#email,input#titulo,input#director, input#actors, input#fecha_lanzamiento, input#website,textarea#plot {
  	font-family: 'Exo 2', sans-serif;
      border: 1px solid #fff;
      color: #fff;
      text-align: justify;
      outline: none;
      letter-spacing: 1px;
      font-size: 15px;
      font-weight: normal;
      background-color: rgba(82, 56, 76, 0.15);
  	float: right;
  }
  #idioma{
    font-family: 'Exo 2', sans-serif;
      border: 1px solid #fff;
      color: #fff;
      text-align: justify;
      outline: none;
      letter-spacing: 1px;
      font-size: 15px;
      font-weight: normal;
      background-color: rgba(82, 56, 76, 0.15);
      height: 45px;
      width: 54.5%;
      padding: 0 15px;
    float: right;
  }
  input#imdbID,input#email,input#titulo,input#director, input#actors, input#fecha_lanzamiento, input#website {
  	height:45px;
  	padding:0 15px;
  	width:54.5%;
  }

  textarea#plot {
  	height:150px;
  	padding:15px;
  	width:54.5%;
  }
  input::-webkit-input-placeholder {
  color:#c1c1c1!important;
  }

  input:-moz-placeholder { /* Firefox 18- */
  color:#c1c1c1!important;
  }

  input::-moz-placeholder {  /* Firefox 19+ */
  color:#c1c1c1!important;
  }

  input:-ms-input-placeholder {
  color:#c1c1c1!important;
  }
  textarea::-webkit-input-placeholder {
  color:#c1c1c1!important;
  }

  textarea::-moz-placeholder { /* Firefox 18- */
  color:#c1c1c1!important;
  }

  textarea::-moz-placeholder {  /* Firefox 19+ */
  color:#c1c1c1!important;
  }

  textarea::-ms-input-placeholder {
  color:#c1c1c1!important;
  }

  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#CC6666;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#ff0000; }
  div.aficiones{
    padding-left: 40%;
    padding-bottom: 3%;
  }
