body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
	background-color:#f9f7ed;
	margin:0px;
}
#wrapper {
	width:800px;
	margin:auto;
	background-color:#FFFFFF;	
}
#header {
	background-image:url(img/header_bg.png);
	background-repeat:no-repeat;
	height:120px;
}
#menu {
	background-image:url(img/menu_bg.png);
	height:25px;
	padding-top:5px;
	text-align:center;
}
#menu a, #footer a{
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
}
#menu a:hover, #footer a:hover{
	text-decoration:underline;
}
#contenido {
	padding:20px;
}
#footer {
	height:80px;
	padding-top:20px;
	color:#FFFFFF;
	text-align:center;
	background-image:url(img/footer_bg.png);
}
h1 {
	color:#33170D;
	font-size:18px;
	border-bottom:1px solid #FF9900;
	padding-bottom:10px;
}